#carousel {
  .title-sub-header {
    max-width: 80%;
    margin: 2rem auto;

    h2 {
      color: white;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;
      border-bottom: 1px solid orange;
      display: inline;
    }
  }
  .swiper-container {
    width: 80%;
    border-bottom: 1px solid;
    padding: 2rem 0;

    img {
      border-radius: 5px;
      height: 150px;
      width: auto;
      box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.75);
    }
    .swiper-wrapper {
      display: flex;
      justify-content: center;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    opacity: 1;

    cursor: pointer;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
      // box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
      img {
        box-shadow: 0px 0px 25px -1px rgb(247, 165, 3);
      }
    }

    .info {
      margin-top: 0.5rem;
      letter-spacing: 1px;
      h1 {
        font-size: 0.9rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      h2 {
        font-size: 0.8rem;
        font-weight: 500;
        color: rgb(247, 165, 3);
      }
    }
  }
}
