#movie-details {
	.movie-container {
		height: 100vh;

		color: white;
		display: flex;
		align-items: flex-end;
		letter-spacing: 0.5px;
		.movie-container {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			max-width: 50%;
			padding-bottom: 10rem;

			.movie-info {
				margin-left: 5rem;
				h1 {
					font-size: 3rem;
					font-weight: 700;
					color: white;
					margin-bottom: 2rem;
				}
				.details {
					display: flex;
					justify-content: space-between;
					font-size: 1rem;
					color: #d0c3ab;
					.rating {
						.checked {
							color: orange;
						}
					}
					.runtime {
						font-size: 1rem;
						margin-bottom: 2rem;
						display: flex;
						h2 {
							padding: 0 1rem;
						}
					}
				}
				p {
					color: #d4d0d0;
					font-size: 1rem;
					line-height: 1.4;
				}
			}
		}
	}
}
