#selection-details-page {
  .movie-container {
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.5px;
    .movie-container {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      max-width: 60%;
      padding-bottom: 10rem;

      .youtube-section {
        max-width: 100%;
      }

      .movie-info {
        max-width: 100%;
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.49);
        padding: 20px 20px 30px 20px;
        border-radius: 5px;

        h1 {
          font-size: 3rem;
          font-weight: 700;
          color: white;
          margin-bottom: 2rem;
        }
        .details {
          display: flex;

          font-size: 1rem;
          color: #d0c3ab;
          .rating {
            .checked {
              color: orange;
            }
          }
          .runtime {
            font-size: 1rem;
            margin-bottom: 2rem;
            display: flex;
            h2 {
              padding: 0 1rem;
            }
          }
        }
        p {
          color: #d4d0d0;
          font-size: 1rem;
          line-height: 1.4;
        }
        .cast {
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;
          max-width: 100%;

          .member {
            display: flex;
            flex-direction: column;
            max-height: 100px;
            margin-right: 10px;
            align-items: center;
            max-width: 100%;

            img {
              height: 100%;
              max-width: 100%;
              border-radius: 5px;
              margin-bottom: 0.5rem;
            }
            h3 {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
